<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>




<section id="admin-dashboard">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="users-tab" href="/admin/dashboard" role="tab" aria-controls="users"
                    aria-selected="true">
                    <i class="fas fa-tools"></i>
                    Create Account</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="complaints-tab" href="/admin/complaints" role="tab" aria-controls="complaints"
                    aria-selected="false">
                    <i class="fas fa-envelope-open-text"></i>
                    Complaints</a>
            </li>


            <li class="nav-item">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                    aria-controls="users" aria-selected="true">
                    <i class="fas fa-user-ninja"></i>Users</a>
            </li>
        </ul>




        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                <div class="row">

                    <!-- Display Admins-->
                    <div class="col-md-6 my-5">
                        <div class="card">
                            <div class="card-header">
                                Admins <i class="fas fa-shield-alt" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <% const admins = users.filter((user) => user.role === 'admin') %>
                                    <% admins.forEach((admin) => { %>
                                    <li class="list-group-item">
                                        <%= admin.name %>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Display Officers-->
                    <div class="col-md-6 my-5">
                        <div class="card">
                            <div class="card-header">
                                Respondent Staffs <i class="fas fa-cannabis"></i>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <% const staffs = users.filter((user) => user.role === 'staff') %>
                                            <% staffs.forEach((staff) => { %>
                                            <th scope="row"> <%= staff.name %></th>
                                            <td>  <%= staff.department %> </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</section>





<%- include('../partials/_footer.ejs')%>