<%- include('../partials/_header.ejs') %>
<%- include('../partials/_github-corner.ejs') %>
<%- include('../partials/_navbar.ejs') %>


<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" href="/" role="tab" aria-controls="home" aria-selected="true">
        <i class="fa fa-id-card" aria-hidden="true"></i> Complaints</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab"
        aria-controls="feedback" aria-selected="true">
        <i class="fas fa-envelope-open-text"></i>
        Feedback</a>
    </li>
  </ul>



  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">

      <div class="row py-5">
        <div class="col-md-6">
          <h5 class="text-dark mb-4">Type or Paste Reference ID into field to get feedback : </h5>

          <form action="/feedback/view" method="POST">
            <div class="form-group">
              <input type="text" name="complaintId" placeholder="Type Reference ID Here..." class="form-control"
                required>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-2">Confirm identity</button>

          </form>
        </div>

        <div class="col-md-6" id="feedback-status">
          <div class="card">
            <div class="card-header">Complaint Feedback Status : </div>
            <div class="card-body">
              <% if(typeof complaint != 'undefined') { %>
                  <%- include('../partials/_messages.ejs')%>
               
                  <%  if(complaint.status === 'done') {%>
                    Status : <%= complaint.status%> <hr>
                    Description : <%= complaint.description%> <hr>
                    Feedback : <%= complaint.feedback %> <hr>
                  <% } %>

                  <%  if(complaint.status === 'pending') {%>
                      Your Complaint Has Not Yet Been Answered Please Wait a bit And Try Again Later 
                  <% } %>
                <% } %>
            </div>
          </div>
        </div>
   

</div>


<%- include('../partials/_footer.ejs')%>