<%- include('./partials/_header.ejs') %>

<%- include('./partials/_github-corner.ejs') %>

<%- include('./partials/_navbar.ejs') %>


<section id="home-page">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="complaint-tab" data-toggle="tab" href="#complaint" role="tab"
                    aria-controls="complaint" aria-selected="true"> <i class="fa fa-id-card" aria-hidden="true"></i> Complaints</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="feedback-tab" href="/feedback/view" role="tab" aria-controls="complaints"
                    aria-selected="false">
                    <i class="fas fa-envelope-open-text"></i>
                    Feedback</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="complaint" role="tabpanel" aria-labelledby="complaint-tab">
                <%- include('./complaints/add.ejs') %>
            </div>

    
        </div>
    </div>

</section>






<%- include('./partials/_footer.ejs') %>