<%- include('../partials/_header.ejs') %>
<%- include('../partials/_github-corner.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div class="container">
    
<div class="row">
    <div class="col-md-6 text-center">
        <div class="container">

            <div class="card">
                <div class="card-header"> <i class="fas fa-user-plus"></i> Login </div>


                <div class="card-body">
                    <form action="/users/login" method="POST">

                        <div class="form-group">
                            <input type="email" placeholder="Enter email.." name="email" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control"
                                required />
                        </div>


                        <button class="btn btn-primary btn-block" type="submit">Login</button>

                    </form>
                </div>
            </div>
        </div>

        <%- include('../partials/_messages.ejs') %>
    </div>


    <div class="col-md-4" id="login-instruction">
        <div class="card">
            <div class="card-header text-danger">
                <i class="fas fa-exclamation-triangle"></i> Only Authorised Staff Allowed
            </div>
            <div class="card-body">
                Please provide correct email and password to login as staff system administrator.
            </div>
        </div>
    </div>

</div>


</div>








<br><br><br><br><br><br><br>
<%- include('../partials/_copyright.ejs')%>
<%- include('../partials/_footer.ejs')%>